body{
    background-color: greenyellow;
}

#score{
    color: chocolate;
    font-size: 25px;
    float: left;
    margin-left: 20px;
}

#timer{
    color: chocolate;
    font-size: 25px;
    float: right;
    margin-right: 20px;
}

#required_sketch{
    color: red;
    font-size: 25px;
}

#your_sketch{
    color: blue;
    font-size: 25px;
}

#confidence{
    color: blue;
    font-size: 25px;
}